@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welkom bij Matrix Inc</h1>
    <h2>De webwinkel voor mechanische onderdelen</h2>

    <br />
    <br />

    <p>Matrix Inc heeft een zeer grote selectie aan mechanische onderdelen</p>
    <p>Zoekt u een specifiek onderdeel? Zoek deze dan op de producten pagina</p>
    <p>Of kijk tussen de populairste producten</p>
</div>