@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1>Alle Producten</h1>
<div>
    @foreach (var product in Model.Products)
    {
        <div>
            <a asp-page="ProductDetails" asp-route-id="@product.Id">@product.Name</a>
            <p>Prijs: €@product.Price</p>
            <form method="post" asp-page-handler="AddToCart">
                <input type="hidden" name="productId" value="@product.Id" />
                <input type="hidden" name="quantity" value="1" />
                <button type="submit">Toevoegen aan winkelmandje</button>
            </form>
        </div>
    }
</div>