@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

<div class="product-grid">
    @foreach (var product in Model.Products)
    {
        <div class="product">
            <h1>@Html.DisplayName(product.Name)</h1>
            <a asp-page="/ProductDetails/BombDetail">Ga naar ProductPagina</a>
            <p>€@Html.DisplayName(product.Price.ToString())</p>
            <button>Toevoegen aan winkelmandje</button>
        </div>
    }
</div>
